Source: jodconverter
Priority: extra
Maintainer: Samuel Thibault <sthibault@debian.org>
Build-Depends: debhelper (>= 7)
Build-Depends-Indep: default-jdk, libcommons-io-java, ure, libslf4j-java, openoffice.org-java-common, libxstream-java
Standards-Version: 3.8.3
Section: java
Homepage: http://www.artofsolving.com/opensource/jodconverter
Vcs-Browser: http://git.debian.org/?p=collab-maint/jodconverter/jodconverter.git;a=summary
Vcs-Git: git://git.debian.org/git/collab-maint/jodconverter/jodconverter.git

Package: libjodconverter-java
Section: java
Architecture: all
Depends: ${misc:Depends}, default-jre | java2-runtime, libcommons-cli-java, libcommons-io-java, ure, libslf4j-java, openoffice.org-java-common, libxstream-java
Description: Office formats converter - Library
 JODConverter, the Java OpenDocument Converter, leverages OpenOffice.org to
 provide import/export filters for various office formats including OpenDocument
 and Microsoft Office.
 .
 This package provides a java library to run JODConverter.

Package: libjodconverter-java-doc
Section: doc
Architecture: all
Depends: ${misc:Depends}
Description: Office formats converter - Library documentation
 JODConverter, the Java OpenDocument Converter, leverages OpenOffice.org to
 provide import/export filters for various office formats including OpenDocument
 and Microsoft Office.
 .
 This package provides the documentation for the java library.
